/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');
@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins-Medium.ttf'),
        url('../fonts/Poppins-Bold.ttf')
}
/* END IMPORTS */
/* INIT */
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(207, 236, 248);
}
.loading{
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    top: 0;
    left: 0;
    background-color: #012A31;
}
.loading img{
    width: 60%;
    height: auto;
    /* margin-bottom: 500px; */
}
.loading #loader{
    animation: spin 3000ms infinite;
    margin-bottom: 80px;
    width: 20%;
    height: auto;
    display: none;
}
.load{
    animation: spin 3000ms infinite;
}
.error{
    color: red;
}
.success{
    color: green;
}
/* END INIT */
/* IDENTIFICATION */
body#identification{
    display: flex;
    align-items: center;
    justify-content: center;
}
body#identification section{
    width: 700px;
    height: 500px;
    border-radius: 5px;
    background-color: white;
    display: flex;
}
body#identification section #background{
    width: 40%;
    height: 100%;
    background-image: url("../images/login-page.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
body#identification section #background p{
    margin: 0;
    color: white;
    font-size: 1.5vw;
}
body#identification section #background p span{
    color: cyan;
}
body#identification section #content{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
body#identification section #content .title{
    width: 100%;
    height: 15%;
    background-color: #012A31;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
}
body#identification section #content .title h5{
    color: white;
    font-size: 1.5vw;
    font-weight: 100;
    margin: 0;
}
body#identification section #content .form{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
body#identification section #content .form input{
    width: 80%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
}
body#identification section #content .form button{
    width: 60%;
    height: 50px;
    background-color: green;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1vw;
    cursor: pointer;
}
body#identification section #content .form button:active{
    background-color: rgb(0, 82, 0);
}
/* END INDENTIFICATION */
/* HEADER */
header{
    width: 100%;
    height: 8%;
    background-color: #009BB5;
    display: flex;
}
header #logo{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header #logo img{
    width: 100%;
    height: auto;
}
header #logo .titles{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    display: none;
}
header #logo .titles h1{
    color: white;
    margin: 0;
    font-weight: 100;
    font-size: 1.3vw;
    font-family: 'Mansalva', cursive;
}
header #logo .titles p{
    margin: 0;
    color: white;
}
header #content{
    width: 85%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-end;
}
header #content #user-options{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header #content #user-options .user{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header #content #user-options .user img{
    width: 70%;
    height: auto;
    border-radius: 100%;
    border: 2px solid #012A31;
    cursor: pointer;
}
header #content #user-options .user #userdrop{
    height: 100px;
    width: 200px;
    transform: translateX(-30%);
    border: none;
    padding: none;
}
header #content #user-options .user #userdrop ul{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
header #content #user-options .user #userdrop ul li{
    width: 100%;
    height: 40px;
    list-style-type: none;
}
header #content #user-options .user #userdrop ul li.red{
    color: red;
}
header #content #user-options .user #userdrop ul li:hover{
    background-color: rgb(230, 230, 230);
}
header #content #user-options .user #userdrop ul li a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: inherit;
    text-decoration: none;
}
header #content #user-options .user #userdrop ul li a .icon{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header #content #user-options .user #userdrop ul li a .icon i{
    font-size: 1vw;
}
header #content #user-options .user #userdrop ul li a .text{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header #content #user-options .icon{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
    color: #012A31;
}
header #content #user-options .icon i{
    cursor: pointer;
}
header #content #user-options .icon span{
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background-color: #009BB5;
    position: relative;
    top: 15%;
    right: 5%;

}
header .dropdown{
    z-index: 50;
    background-color: white;
    border: 1px solid #012A31;
    width: 250px;
    height: 300px;
    position: absolute;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    top: 8%;
    border-radius: 5px;
    box-shadow: 0px 11px 39px -4px rgba(1,42,49,0.77);
    animation: fade 500ms forwards;
}
/* END HEADER */
/* NAV */
main nav{
    width: 15%;
    height: 100%;
    background-color: #012A31;
}
main nav .options{
    display: none;
}
/* --ul */
main nav ul{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}
main nav ul li{
    width: 100%;
    height: 50px;
    transition: background 150ms;
    
}
main nav ul li:hover{
    background-color: rgb(0, 19, 22);
}
main nav ul li a{
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
main nav ul li a .nav-button-icon{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
}
main nav ul li a .nav-button-title{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
main nav ul li.selected{
    background-color: rgb(0, 19, 22);
}
/* --end ul */
/* END NAV */
/* MAIN */
main{
    width: 100%;
    min-height: 92%;
    height: 92%;
    display: flex;
}

main .wrapper{
    width: 85%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
}
main .wrapper .box{
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 20px 5px rgb(148, 172, 179);
    padding: 30px;
}
/* END MAIN */